　　<div class="row">
  <div class="col-md-12">
    <div class="top-image" id="search-top">
    </div>
  </div>
</div>
<div class="main-title">
  <%= icon("fas", "search", class: "seach-icon") %>
  MusicVideoを検索する
</div>
