//bootstrap設定
@import "bootstrap";
//fontawesome設定
@import "font-awesome-sprockets";
@import "font-awesome";

//ブレイクポイント設定
@mixin sm { @media (min-width: 576px) { @content; } }
@mixin md { @media (min-width: 768px) { @content; } }
@mixin lg { @media (min-width: 992px) { @content; } }

// ログイン画面

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

// 共通設定
.main-title {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem 0;
  @include md {
    font-size: 2.0rem;
  }
}


@import "header";
@import "footer";
@import "posts";