#post-top{
  background-image: image-url("top1.jpg");
}

#kpop-top{
  background-image: image-url("kpop-top.jpg");
}
#jpop-top{
  background-image: image-url("jpop-top.jpg");
}
#thaipop-top{
  background-image: image-url("thaipop-top.jpg");
}
#chinesepop-top{
  background-image: image-url("chinesepop-top.jpg");
}
#indianpop-top{
  background-image: image-url("indianpop-top.jpg");
}
#russianpop-top{
  background-image: image-url("russianpop-top.jpg");
}
#goodranking-top{
  background-image: image-url("goodranking-top.jpg");
}

//index
.row{
  .col-md-12{
    .top-image{
      width: 100%;
      height: 40vh;
      background-position: center;
      background-size: cover;
      
    }
  }
}


.row{
  .col-md-4{
    .row{
      .col-md-12{
        .contents-video{ 
          position: relative;
          width: 100%;
          .contents-video-iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
      
        .contents-video:before {
          content:"";
          display: block;
          padding-top: 56.25%; /* 高さと幅の比を16:9に固定。9/16*100=56.25 */
        }
      }

    
      .col-md-12{
        .contents-data{
          border: solid 1px blanchedalmond;
          position: relative;
          .more {
            position: absolute;
            cursor: pointer;
            top: 5px;
            right: 10px;
            z-index: 2;
            text-align: right;
            &:hover ul.more_list {
              display: block;
            }
            ul.more_list {
              position: absolute;
              text-align: center;
              width: 80px;
              font-size: 14px;
              background-color: #fff;
              border: 1px solid #ddd;
              display: none;
              box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
              border-radius: 3px;
              list-style: none;
              top: 15px;
              right: 10px;

              li {
                border-bottom: 1px solid #ddd;

                &:last-child {
                  border-bottom: 0;
                }
                a {
                  display: block;
                  padding: 5px;
                  &:hover {
                    background-color: #57C3E9;
                    color: #fff;
                  }
                }
              }
            }
          }
      
          .contents-title{
            font-weight: bold;
            height: 8vh;
            a{
              text-decoration: none;
            }
          }
          .contents-v-box{
            display: flex;
            justify-content: flex-start;
            vertical-align: middle;
            
            img{
              border-radius: 50%;
            }

            .contents-name{
              margin-right: 10px;
              width: 10vw;
            }

            .contents-time{
              width: 30vw;
            }
          }

          .contents-reason{
            height: 35vh;
          }
        }
      }
    }
  }
}













.post-title {
  margin-bottom: 2rem;
}

.post-btn {
  margin-top: 1.5rem;
  padding-bottom: 1rem;
}

.content-form {
  height: 15rem;
  margin-bottom: 2rem;
}

.post-youtube-url {
  margin-bottom: 1rem;
}

.category-row {
  margin-top: 2rem;
  background-color: white;
  border: 1px solid #C0C0C0;
}

.category-radio {
  margin-top: 0.5rem;
  margin-left: 0.2rem;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  @include md {
    margin-right: 1rem;
  }
  @include lg {
    margin-right: 3rem;
  }
}

.comment-container {
  input[type="text"] {
    margin: 20px 0;
    padding: 30px;
    box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
    background-color: white;
    box-sizing: border-box;
  }
}
.comments {
  padding: 5px;
  margin-top: 15px;
  a {
    color: #57C3E9;
    &:hover {
      opacity: 0.7;
    }
  }
}

//show
.row{
  .col-md-12{
    .row{
      .col-md-8{
        .contents-video{ 
          position: relative;
          width: 100%;
          .contents-video-iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
      
        .contents-video:before {
          content:"";
          display: block;
          padding-top: 56.25%; /* 高さと幅の比を16:9に固定。9/16*100=56.25 */
        }
      }

    
      .col-md-4{
        .contents-data{
          border: solid 1px blanchedalmond;
          position: relative;
          .more {
            position: absolute;
            cursor: pointer;
            top: 5px;
            right: 10px;
            z-index: 2;
            text-align: right;
            &:hover ul.more_list {
              display: block;
            }
            ul.more_list {
              position: absolute;
              text-align: center;
              width: 80px;
              font-size: 14px;
              background-color: #fff;
              border: 1px solid #ddd;
              display: none;
              box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
              border-radius: 3px;
              list-style: none;
              top: 15px;
              right: 10px;

              li {
                border-bottom: 1px solid #ddd;

                &:last-child {
                  border-bottom: 0;
                }
                a {
                  display: block;
                  padding: 5px;
                  &:hover {
                    background-color: #57C3E9;
                    color: #fff;
                  }
                }
              }
            }
          }
      
          .contents-title{
            font-weight: bold;
            height: 8vh;
            a{
              text-decoration: none;
            }
          }
          .contents-v-box{
            display: flex;
            justify-content: flex-start;
            vertical-align: middle;
            
            img{
              height: 40px;
              width: 40px;
              border-radius: 50%;
            }

            .contents-name{
              margin-right: 10px;
              width: 10vw;
            }

            .contents-time{
              width: 30vw;
            }
          }

          .contents-reason{
            height: 35vh;
          }
        }
      }
    }
  }
}

.row {
  margin-top: 20px;
  .col-md-6 {
    .comment-container {
      input[type="text"] {
        padding: 30px;
        box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
        background-color: white;
        box-sizing: border-box;
      }
    }
  }
}
