.contents-bias{
display: flex;
flex-direction: column;
padding: 50px;

  .single-content{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;

    .contents-video{
      width: 50vw;
      height: 50vh;
    }

    .contents-data{
      margin: 10px 20px;
      border: solid 1px blanchedalmond;
      width: 50vw;
      height: 45vh;
      .contents-title{
        font-weight: bold;
        height: 8vh;
      }

      .contents-v-box{
        display: flex;
        justify-content: flex-start;
        vertical-align: middle;
        
        img{
          border-radius: 50%;
        }

        .contents-name{
          margin-right: 10px;
          width: 10vw;
        }

        .contents-time{
          width: 30vw;
        }
      }

      .contents-reason{
        height: 35vh;
      }
    }
  }
}











.post-title {
  margin-bottom: 2rem;
}

.post-btn {
  margin-top: 1.5rem;
  padding-bottom: 1rem;
}

.content-form {
  height: 15rem;
  margin-bottom: 2rem;
}

.post-youtube-url {
  margin-bottom: 1rem;
}

.category-row {
  margin-top: 2rem;
  background-color: white;
  border: 1px solid #C0C0C0;
}

.category-radio {
  margin-top: 0.5rem;
  margin-left: 0.2rem;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  @include md {
    margin-right: 1rem;
  }
  @include lg {
    margin-right: 3rem;
  }
}
